/* Banner */
#page-header {
	text-align: center;
}
#page-header h1 {
	font-weight: bold;
	font-size: 3em;
	line-height: 1;
	margin: .8em;
}

/* Slide Down */
#card-area {
	overflow: hidden;
	background: #FFF;
	color: white;
	border: 1px solid black;
	width: 430px;
	margin: auto;
}
.drop {
	padding: 20px;
}

/* Main */
#main {
	margin-top: 20px;
}

/* Article Thumbs */
.article-thumbs {
	margin: 0 -5px;
}
.article-thumbs article {
	float: left;
	width: 100px;
}
.article-thumbs article a {
	display: block;
	padding: 10px;
	color: inherit;
	text-decoration: none;
	-webkit-transition: background 300ms;
	-moz-transition: background 300ms;
	transition: background 300ms;
}
.article-thumbs article a:hover {
	background: rgba(255,255,255,.15);
}
.article-thumbs article a figure {
	border: 1px solid black;
	float: left;
}
.article-thumbs article a figure img {
	display: block;
}
.article-thumbs article a hgroup {
	clear: left;
	padding-top: 8px;
}
.article-thumbs article a h4 {
	color: #f6f666;
	font-size: .75em;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: .1em;
	margin-bottom: 2px;
}
.article-thumbs article a h2 {
}

/* Main Article */
article.main header h1 {
	font-size: 2.5em;
}
